<header class="d-flex flex-column flex-md-row align-items-center justify-content-between
     p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
     <h1 routerLink="/">Speed Test</h1>
  <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger;">
    <a class="p-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Test</a>
    <a class="p-2" routerLink="/history" routerLinkActive="active">History</a>
    <a class="p-2" routerLink="/chart" routerLinkActive="active">Chart</a>
  </nav>
 

</header>